/*390px mobile*/
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}
body{
	font-family:roboto;
}
.container{
	margin:0 1rem;
	
}
.mail{
	display:flex;
	justify-content:center;
	padding:1rem;
}

.mail p i{
	color:#428bca;
	
}
.mail a{
	text-decoration:none;	
	margin-left:0.3rem;
	color:#444;
}
.social{
	display:none;
}
@media(min-width:768px){
	*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}
body{
	font-family:roboto;
}

.headtop{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.mail{
	display:flex;
	
	padding:1rem;
}

.mail i{
	color:#428bca;
}
.mail a{
	text-decoration:none;	
	margin-left:0.5rem;
	color:#444;
	
}
.media{
	display:flex;
    
}
.media a{
	padding:5px 14px;
	color:#5c768d;
	
}
.social{
	display:block;
}
}
@media(min-width:1024px){
	*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}
body{
	font-family:roboto;
}
.container{
	margin:0 2rem;
	
}
.headtop{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.mail{
	display:flex;
	padding-left:0;
	padding-top:1.2rem;
	padding-bottom:1.2rem;
	padding-right:1.2rem;
}

.mail i{
	color:#428bca;
}
.mail a{
	text-decoration:none;	
	margin-left:0.5rem;
	color:#444;
	
}
.media{
	display:flex;
    
}
.media a{
	padding:6px 15px;
	color:#5c768d;
	
}
.social{
	display:block;
}
}
/**390 mobile**/
.nav{
	display:none;
}
.header{
	background-color:#fff;
	border-top:1px solid rgba(0,0,0,0.1);
}
.header-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.logo h1{
	font-size:1.7rem;
	padding:1rem 0.5rem;
	color:#1c5c93;
}
.toggle i{
	font-size:1.7rem;
}
@media(min-width:768px){
.nav{
	display:none;
}
.header{
	background-color:#fff;
	border-top:1px solid rgba(0,0,0,0.1);
}
.header-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.logo h1{
	font-size:1.8rem;
	padding:1rem 0.6rem;
	color:#1c5c93;
}
.toggle i{
	font-size:1.8rem;
}
}
@media(min-width:1024px){
.header{
	background-color:#fff;
	border-top:1px solid rgba(0,0,0,0.1);
}
.header-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.logo h1{
	font-size:1.8rem;
	padding:10px 0px 10px 0px;
	color:#1c5c93;
}
.toggle i{
	display:none;
}
.nav{
	display:block;
}
.navul{
	display:flex;
	
}
.navul li a{
	text-decoration:none;
	padding:0.5rem 0.8rem;
	color:#5c768d;
	font-size:1rem;
}
}
/**Header Over**/
.banner{
	background-image:url(../img/slide/slide-1.jpg);
	background-size:cover;
	background-position:center;
	width:100%;
	position:relative;
	z-index:0;
}
.banner::after{
	content:"";
	background-color:rgba(0,0,0,0.8);
	opacity:0.7;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:-1;
}
.banner-content{
	padding:3.5rem 2rem;
	z-index:1;
}
.banner-content h2{
	font-size:2.1rem;
	font-weight:bold;
	padding-bottom:2rem;
	color:#fff;
}
.banner-content p{
	font-size:1.3rem;
	line-height:1.5rem;
	padding-bottom:3rem;
	color:#fff;
}
.banner-content a{
	text-decoration:none;
	background-color:#428bca;
	padding:12px 32px;
	color:#fff;
	margin-left:0.5rem;
	border-radius:5px;
}
@media(min-width:768px){
	.banner{
	background-image:url(../img/slide/slide-1.jpg);
	background-size:cover;
	background-position:center;
	width:100%;
	position:relative;
	z-index:0;
}
.banner::after{
	content:"";
	background-color:rgba(0,0,0,0.8);
	opacity:0.7;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:-1;
}
.banner-content{
	padding:10rem 3rem;
	z-index:1;
}
.banner-content h2{
	font-size:2.1rem;
	font-weight:bold;
	padding-bottom:2rem;
	color:#fff;
}
.banner-content p{
	font-size:1.1rem;
	line-height:1.7rem;
	padding-bottom:3rem;
	color:#fff;
	width:85%;
}
.banner-content a{
	text-decoration:none;
	background-color:#428bca;
	padding:12px 32px;
	color:#fff;
	margin-left:0.5rem;
	border-radius:5px;
}
}
@media(min-width:1024px){
	.banner{
	background-image:url(../img/slide/slide-1.jpg);
	background-size:cover;
	background-position:center;
	width:100%;
	position:relative;
	z-index:0;
}
.banner::after{
	content:"";
	background-color:rgba(0,0,0,0.8);
	opacity:0.7;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:-1;
}
.banner-content{
	padding:10rem 0rem;
	z-index:1;
}
.banner-content h2{
	font-size:2.1rem;
	font-weight:bold;
	padding-bottom:2rem;
	color:#fff;
}
.banner-content p{
	font-size:1rem;
	line-height:1.7rem;
	padding-bottom:3rem;
	color:#fff;
	width:60%;
	margin-right:1rem;
}
.banner-content a{
	text-decoration:none;
	background-color:#428bca;
	padding:12px 32px;
	color:#fff;
	margin-left:0.5rem;
	border-radius:5px;
}
}
/**Banner Over**/
.about{
	padding-top:4rem;
}
.aboutimg img{
	width:366px;
	height:368px;
	padding:1rem 0;
}
.aboutus{
	padding:40px;
}
.abouthead{
	padding: 1.9rem 0;
}
.abouthead h2{
	font-size:2rem;
	text-align:center;
	font-weight:600;
	color:#5c768d;
	padding-bottom:1.3rem;
}
.abouthead p{
	font-style:italic;
	color:#666;
	line-height:1.3rem;
}
.about1{
	display:flex;
	padding-bottom:3rem;
}
.abouticon{
	width:72px;
	height:72px;
	background-color:#428bca;
	border-radius:6px;
	text-align:center;
	
}
.abouticon i{
	font-size:2rem;
	color:#fff;

}
.aboutdescription{
	width:70%;
	margin-left:1rem;
}
.aboutdescription h4{
	font-size:1.2rem;
	font-weight:600;
	padding-bottom:1rem;
}
.aboutdescription h4 a{
	text-decoration:none;
	color:#343a40;
}
.aboutdescription p{
	font-size:0.9rem;
	line-height:1.5rem;
	color:#444;
}
@media(min-width:768px){
.about{
	padding-top:4rem;
}
.about-content{
	
	box-shadow:0 0 2px #ccc;
	padding:0 1rem;
}
.aboutimg img{
	width:696px;
	height:691px;
	padding:1rem 0;
}
.aboutus{
	padding:35px;
}
.abouthead{
	padding: 1.9rem 0;
}
.abouthead h2{
	font-size:2rem;
	text-align:center;
	font-weight:600;
	color:#5c768d;
	padding-bottom:1.3rem;
}
.abouthead p{
	font-style:italic;
	color:#666;
	line-height:1.3rem;
}
.about1{
	display:flex;
	padding-bottom:3rem;
	
}
.abouticon{
	width:72px;
	height:72px;
	background-color:#428bca;
	border-radius:6px;
	text-align:center;
	
}
.abouticon i{
	font-size:2rem;
	color:#fff;

}
.aboutdescription{
	width:85%;
	margin-left:1rem;
}
.aboutdescription h4{
	font-size:1.2rem;
	font-weight:600;
	padding-bottom:1rem;
}
.aboutdescription h4 a{
	text-decoration:none;
	color:#343a40;
}
.aboutdescription p{
	font-size:0.9rem;
	line-height:1.5rem;
	color:#444;
}
}
@media(min-width:1024px){
.about{
	padding-top:4rem;
}
.about-content{
	display:flex;
	box-shadow:0 0 2px #ccc;
	padding:0 1rem;
}
.aboutimg{
	width:50%;
}
.aboutimg img{
	width:100%;
    height:auto;
	
	padding:1rem 0;
}
.aboutus{
	padding:35px;
	width:50%;
}
.abouthead{
	padding: 1.9rem 0;
}
.abouthead h2{
	font-size:2rem;
	text-align:center;
	font-weight:600;
	color:#5c768d;
	padding-bottom:1.3rem;
}
.abouthead p{
	font-style:italic;
	color:#666;
	line-height:1.3rem;
}
.about1{
	display:flex;
	padding-bottom:5rem;
}
.abouticon{
	width:72px;
	height:72px;
	background-color:#428bca;
	border-radius:6px;
	text-align:center;
	
}
.abouticon i{
	font-size:2rem;
	color:#fff;

}
.aboutdescription{
	
	margin-left:1rem;
}
.aboutdescription h4{
	font-size:1.2rem;
	font-weight:600;
	padding-bottom:1rem;
}
.aboutdescription h4 a{
	text-decoration:none;
	color:#343a40;
}
.aboutdescription p{
	font-size:0.9rem;
	line-height:1.5rem;
	color:#444;
}
}
/**About Over**/
.lorem{
	padding:40px;
}
.loremcontent{
	padding:40px 0px;
}
.loremcontent span{
	color:#9eccf4;
	font-size:1.5rem;
	font-weight:400;
}
.loremcontent h4{
	font-size:1.8rem;
	font-weight:400;
	margin:1.2rem 0;
	color:#444;
}
.loremcontent p{
	line-height:1.5rem;
	color:#aaaaaa;
	font-size:1rem;
}
@media(min-width:768px){
.lorem{
	padding:40px;
}
.loremflex{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}	
.loremcontent{
	width:49%;
	padding:40px 0;
	border:1px solid rgba(0,0,0,0.3);
}
.loremcontent span{
	color:#9eccf4;
	font-size:1.5rem;
	font-weight:400;
}
.loremcontent h4{
	font-size:1.8rem;
	font-weight:400;
	margin:1.2rem 0;
	color:#444;
}
.loremcontent p{
	line-height:1.5rem;
	color:#aaaaaa;
	font-size:1rem;
}
}
@media(min-width:1024px){
.lorem{
	padding:40px;
}
.loremflex{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}	
.loremcontent{
	width:33.33%;
	
	border:1px solid #d9e8f4;
	padding:40px;
}
.loremcontent span{
	color:#9eccf4;
	font-size:1.5rem;
	font-weight:400;
}
.loremcontent h4{
	font-size:1.8rem;
	font-weight:400;
	margin:1.2rem 0;
	color:#444;
}
.loremcontent p{
	line-height:1.5rem;
	color:#aaaaaa;
	font-size:1rem;
}
}
/**Lorem over**/
.client{
	padding-bottom:30px;
	padding-top:30px;
	background-color:#f5f9fc;
}
.clientflex{
	padding:0 12px;
}
.clientcontent{
	padding:30px;
	box-shadow:0 0 3px #ccc;
	margin-bottom:30px;
	text-align:center;
}
.clientcontent span{
	font-size:42px;
	font-weight:700;
	color:#1c5c93;
	
}
.clientcontent p{
	font-size:14px;
	color:#444;
	margin-top:1rem;
}
@media(min-width:768px){
.client{
	padding-bottom:30px;
	padding-top:30px;
	background-color:#f5f9fc;
}
.clientflex{
	padding:40px;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:space-between;
}
.clientcontent{
	padding:30px;
	box-shadow:0 0 3px #ccc;
	margin-bottom:30px;
	text-align:center;
	width:48%;
	
}
.clientcontent span{
	font-size:42px;
	font-weight:700;
	color:#1c5c93;
	
}
.clientcontent p{
	font-size:14px;
	color:#444;
	margin-top:1rem;
}
}
@media(min-width:1024px){
.client{
	padding:30px 0;
	background-color:#f5f9fc;
}
.clientflex{
	padding:40px;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:space-between;
}
.clientcontent{
	padding:30px;
	box-shadow:0 0 3px #ccc;
	margin-bottom:30px;
	text-align:center;
	width:23%;
	
}
.clientcontent span{
	font-size:42px;
	font-weight:700;
	color:#1c5c93;
	
}
.clientcontent p{
	font-size:14px;
	color:#444;
	margin-top:1rem;
}
}
/**Client Over**/
.service{
	padding:30px 0;
}
.servicehead{
	text-align:center;
	margin-bottom:30px;
}
.servicehead h2{
	font-size:2rem;
	color:#5c768d;
	font-weight:600;
	margin-bottom:20px;
}
.servicecontent{
	margin-bottom:20px;
	text-align:center;
}
.serviceicon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
    

}
.serviceicon i{
	font-size:36px;
}
.servicecontent h4{
	font-size:18px;
	font-weight:600;
	margin-bottom:15px;
	padding-bottom:15px;
	position:relative;
}
.servicecontent h4 a{
	text-decoration:none;
	color:#444;
}

/**
.servicecontent h4::after{
	content:"";
	position:absolute;
	width:50px;
	height:2px;
	background-color:#428bca;
	
}**/
.servicecontent p{
	font-size:16px;
	line-height:24px;
	color:#aaaaaa;
}
@media(min-width:768px){
	.service{
	padding:30px 0;
}
.servicehead{
	text-align:center;
	margin-bottom:30px;
}
.servicehead h2{
	font-size:2rem;
	color:#5c768d;
	font-weight:600;
	margin-bottom:20px;
}
.serviceflex{
	display:flex;
	width:100%;
	flex-wrap:wrap;
	justify-content:space-between;
}
.servicecontent{
	margin-bottom:20px;
	text-align:center;
	width:49%;
}
.serviceicon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
    

}
.serviceicon i{
	font-size:36px;
}
.servicecontent h4{
	font-size:18px;
	font-weight:600;
	margin-bottom:15px;
	padding-bottom:15px;
	position:relative;
}
.servicecontent h4 a{
	text-decoration:none;
	color:#444;
}

/**
.servicecontent h4::after{
	content:"";
	position:absolute;
	width:50px;
	height:2px;
	background-color:#428bca;
	
}**/
.servicecontent p{
	font-size:16px;
	line-height:24px;
	color:#aaaaaa;
}
}
@media(min-width:1024px){
	.service{
	padding:30px 0;
}
.servicehead{
	text-align:center;
	margin-bottom:30px;
}
.servicehead h2{
	font-size:2rem;
	color:#5c768d;
	font-weight:600;
	margin-bottom:20px;
}
.serviceflex{
	display:flex;
	width:100%;
	flex-wrap:wrap;
	padding:40px;
	justify-content:space-between;
}
.servicecontent{
	margin-bottom:20px;
	text-align:center;
	width:33.3%;
	padding-bottom:30px;
}
.serviceicon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
    

}
.serviceicon i{
	font-size:36px;
}
.servicecontent h4{
	font-size:18px;
	font-weight:600;
	margin-bottom:15px;
	padding-bottom:15px;
	position:relative;
}
.servicecontent h4 a{
	text-decoration:none;
	color:#444;
}

/**
.servicecontent h4::after{
	content:"";
	position:absolute;
	width:50px;
	height:2px;
	background-color:#428bca;
	
}**/
.servicecontent p{
	font-size:16px;
	line-height:24px;
	color:#aaaaaa;
}
}
/**service over**/